<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <title>{{tableName}}</title>
</head>

<body class="p-0 m-0 flex bg-[var(--color1)]">
    <div
        class="w-1/2 overflow-x-scroll h-[calc(100vh-16px)] m-2 p-2 border-2 border-white rounded-lg bg-[var(--color2)]">
        <div class="capitalize text-center text-3xl mb-6">{{table_name}}</div>
        <table border="1">
            <thead>
                <tr>
                    {%for col_name in table_col_names%}
                    <th>{{col_name}}</th>
                    {% endfor %}
                </tr>
            </thead>


            {% for row in userDetails %}
            <tr>

                {% for data in row%}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </div>

    <div
        class="w-1/2 overflow-x-scroll h-[calc(100vh-16px)] m-2 p-2 border-2 border-white rounded-lg bg-[var(--color2)]">

        {% if display_edit_buttons=="YES" %}

        <div class="container my-6 mx-auto">
            <form action="/tables/edit" method="POST">
                <button type="submit" name="insert" value={{table_name}}>Insert</button>
                <button type="submit" name="update" value={{table_name}}>Update</button>
                <button type="submit" name="delete" value={{table_name}}>Delete</button>
                <button type="submit" name="rename" value={{table_name}}>Rename</button>
            </form>
        </div>


        {% elif display_edit_fields=="YES" %}

        {% if op=='insert' %}
        <div class="container flex flex-col">
            <h4>INSERT INTO</h4>
            <h4>{{table_name}}</h4>
            <br>

            <form action="/tables/edit/insert" method="POST">
                {%for col_name in table_col_names%}
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{col_name}}</label>
                <input type="text" name={{col_name}}
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder={{col_name}}>
                <br>
                {% endfor %}

                <input type="hidden" name='table_name' value={{table_name}}>

                <button type="submit">Execute</button>
            </form>
            <br>
        </div>

        {% elif op=='update' %}
        <div class="container flex flex-col">
            <h4>UPDATE {{table_name}}</h4>
            <h4>SET</h4>
            <br>

            <form action="/tables/edit/update" method="POST">
                {%for col_name in table_col_names%}
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{col_name}}</label>
                <input type="text" name={{col_name}}
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder={{col_name}}>
                <br>
                {% endfor %}

                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Condition</label>
                <input type="text" name="condition"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="condition">

                <input type="hidden" name='table_name' value={{table_name}}>
                <br>
                <button type="submit">Execute</button>
            </form>
            <br>
        </div>

        {% elif op=='delete' %}
        <div class="container flex flex-col">
            <h4>DELETE FROM {{table_name}}</h4>
            <h4>WHERE</h4>
            <br>

            <form action="/tables/edit/delete" method="POST">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Condition</label>
                <input type="text" name="condition"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="condition">

                <input type="hidden" name='table_name' value={{table_name}}>
                <br>
                <button type="submit">Execute</button>
            </form>
            <br>
        </div>

        {% elif op=='rename' %}
        <div class="container flex flex-col">
            <h4>RENAME TABLE</h4>
            <form action="/tables/edit/rename" method="POST">
                <h4>{{table_name}}</h4>
                <h4>TO</h4>
                <br>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Table Name</label>
                <input type="text" name='new_table_name'
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="New Table Name">
                <input type="hidden" name='table_name' value={{table_name}}>
                <br>
                <button type="submit">Execute</button>
            </form>
            <br>
        </div>


        {% endif %}

        {% endif %}

        <form action="/tables" method="GET">
            <button type="submit">Go to Tables List</button>
        </form>

    </div>
</body>

</html>