<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../styles/style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="icon" href="../static/group.png">
    <style>
        th {
            padding: 10px;
        }

        td {
            padding: 5px;
        }
    </style>
    <title>Tables</title>
</head>

<body>

    <nav
        class="list-none flex flex-col justify-center items-center px-4 text-xl fixed right-0 z-50 transition-all top-1/3">
        <li class="bg-gray-900 p-3 rounded-full hover:bg-yellow-300" id="back"><a href="javascript:history.back()"><i
                    class=" bi bi-back"></i></a></li>
        <li class="bg-gray-900 p-3 rounded-full my-6 hover:bg-yellow-300" id="home"><a href="/tables"><i
                    class="bi bi-house h-8 w-8"></i></a></li>
        <li class="bg-gray-900 p-3 rounded-full hover:bg-yellow-300" id="logout"><a href="/logout"><i
                    class="bi bi-box-arrow-right"></i></a></li>
    </nav>

    <div class="text-2xl text-center">List of tables</div>
    
    <div class="my-16 flex flex-wrap justify-center w-[72%] m-auto">
        {% for i in range(0,len) %}
        <div class="border-2 m-2 p-2 border-white rounded-lg hover:bg-[#7aa4fd] capitalize tooltip">
            <a href="/tables?tableName={{table_names[i]}}">{{table_names[i]}}</a>

            {% if display_edit_buttons=="STUDENT" %}

            <div class="tooltiptext flex justify-center">
                {% if i==0 %}
                    This table shows all the achievements of our alumni.
                {% elif i==1 %}
                    This table gives the contact details about our alumni.
                {% elif i==2 %}
                    This table contains all the information about our alumni's education.
                {% elif i==3 %}
                    This table contains all the information about our alumni's extra curricular activities.
                {% elif i==4 %}
                    This table contains all the information about the various projects that our alumni took.
                {% elif i==5 %}
                    This table has all the information about the various companies that our alumni have worked in.
                {% elif i==6 %}
                    This table has the list of all the departments and information about them.
                {% elif i==7 %}
                    This table has the list of all the faculty advisors.
                {% elif i==8 %}
                    This table has the list of all the instructors and information about them.
                {% endif %}
            </div>

            {% else %}

            <div class="tooltiptext flex justify-center">
                <table>
                    <thead>
                        <tr>
                            {% for j in range(0, len_col) %}
                            <th>{{table_col_names[j]}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in schema[i] %}
                        <tr>
                            {% for j in range(0, len_col) %}
                            <td>{{k[j]}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif %}
            <!-- Field: {{schema[0]}}<br/>
            Type:  {{schema[1]}}<br/>
            Null: {{schema[2]}}<br/>
            Key: {{schema[3]}}<br/>
            Default: {{schema[4]}}<br/>
            Extra: {{schema[5]}} -->
        </div>
        {%endfor%}
    </div>
    <!-- <form action="/tables" method="POST">
        <input type="text" name="tableName" placeholder="Table Name">
        <button type="submit" name="schema">View Schema</button>
        <button type="submit" name="entries">View Entries and Make Edits</button>
    </form> -->

</body>

</html>