<!DOCTYPE html>
<!-- {% autoescape false %} -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="icon" href="../static/group.png">
    <title>Results</title>
</head>

<body class="p-0 m-0 flex bg-[var(--color1)]">

    <nav
        class="list-none flex flex-col justify-center items-center px-4 text-xl fixed right-0 z-50 transition-all top-1/3">
        <li class="bg-gray-900 p-3 rounded-full hover:bg-yellow-300" id="back"><a href="javascript:history.back()"><i
                    class=" bi bi-back"></i></a></li>
        <li class="bg-gray-900 p-3 rounded-full my-6 hover:bg-yellow-300" id="home"><a href="/tables"><i
                    class="bi bi-house h-8 w-8"></i></a></li>
        <li class="bg-gray-900 p-3 rounded-full hover:bg-yellow-300" id="logout"><a href="/logout"><i
                    class="bi bi-box-arrow-right"></i></a></li>
    </nav>

    <div
        class="w-1/3 overflow-x-scroll h-[calc(100vh-16px)] m-2 p-2 border-2 border-white rounded-lg bg-[var(--color2)]">
        {% if search_msg %}
        <div class="capitalize text-center text-3xl mb-6">{{search_msg}}</div>
        {% else %}

        <div class="capitalize text-center text-3xl mb-6">Before</div>
        {% endif %}
        {% if old_table_name %}
        <div class="capitalize text-center text-3xl mb-6">{{old_table_name}}</div>
        {% else %}
        {% endif %}

        {% if table_before %}
        <table class="mx-auto">
            <thead>
                <tr>
                    {%for col_name in table_col_names%}
                    <th>{{col_name}}</th>
                    {% endfor %}
                </tr>
            </thead>


            {% for row in table_before %}
            <tr>

                {% for data in row%}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
        {% else %}
        {% endif %}

        
    </div>

    {% if second_table=="YES" %}
    <div
        class="w-1/3 overflow-x-scroll h-[calc(100vh-16px)] m-2 p-2 border-2 border-white rounded-lg bg-[var(--color2)]">
        {% if search_msg %}

        {% else %}
        <div class="capitalize text-center text-3xl mb-6">After</div>
        {% if new_table_name %}
        <div class="capitalize text-center text-3xl mb-6">{{new_table_name}}</div>
        {% else %}
        {% endif %}

        {% if table_after %}
        <table class="mx-auto">
            <thead>
                <tr>
                    {%for col_name in table_col_names%}
                    <th>{{col_name}}</th>
                    {% endfor %}
                </tr>
            </thead>


            {% for row in table_after %}
            <tr>

                {% for data in row%}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

        <br>
        {% else %}
        {% endif %}

        {% endif %}


    </div>
    {% else %}
    {% endif %}

    <div class="w-1/3 overflow-x-scroll h-[calc(100vh-16px)] m-2 p-2 border-2 border-white rounded-lg bg-[var(--color2)] flex flex-col justify-center">
        <button type="submit" class="mx-auto my-5">
            <a href="/tables">Go to Tables List</a>
        </button>
        <br>

        <button type="submit" class="mx-auto">
            <a href="/tables?tableName={{table_name}}">Go Back to {{table_name}} table</a>
        </button>
        
        {% if search_msg %}
        <form action="/tables/edit/search/download" method="POST" class="mx-auto my-5">
            <button type="submit" class="mx-auto my-5">Download Search Results</button>
            <input type="hidden" name='table_name' value={{table_name}}>
            <input type="hidden" name='search_key' value={{search_key}}>
        </form>
        {% else %}
        {% endif %}
    </div>

</body>

</html>
<!-- {% endautoescape %} -->