<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Database</title>
</head>
<body>
    <h2>Team G1</h2>
    <ul>
        <li>Dhairya Shah</li>
        <li>Nokzendi Aier</li>
        <li>Harshvardhan Vala</li>
        <li>Medhansh Singh</li>
        <li>Joy Makwana</li>
    </ul>

    <h2>Team G2</h2>
    <ul>
        <li>Kanishk Singhal</li>
        <li>Bhavesh Jain</li>
        <li>Inderjeet Singh</li>
        <li>Kalash Kankaria</li>
        <li>Rahul Chembakasseril</li>
    </ul>

    <form action="/" method="GET">
        <button type="submit"> Go to Homepage</button>
    </form>
    
</body>
</html>